*.o
*.lo
# vim swap files
.*.sw*

.DS_Store
*/.DS_Store
*/*/.DS_Store
build/Debug
build/Release
build/Pandorita.build
build/Pandorita.tar.gz
resources/Pandorita.xcodeproj/chris*
resources/Pandorita.xcodeproj/xc*
resources/Pandorita.xcodeproj/*.xcworkspace
resources/images/*.scpt
resources/images/intermediates
